body {
    font-family: Arial, sans-serif;
}

#bluebar {
    color: white;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    padding-right: 205px;
    padding-left: 14px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.blue-bar {
    display: flex;
    align-items: center;
    height: 42px;
}

.container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.searchbar {
    margin: 5px 7px;
    padding: 5px 0 0 8px;
    width: 400px;
    height: 18px;
    border-radius: 2px;
    border-style: none;
}

.quick-navigate {
    display: flex;
    width: 500px;
    margin-left: 200px;
}

.hoverbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 70px;
}

.hoverbox:hover {
    background-color:  #2f487a;
}

.myself {
    display: flex;
    justify-content: space-around;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px
}